<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>408258771832-01rb08hkb6ico7m46pe0jv1q9tioiq7l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.408258771832-01rb08hkb6ico7m46pe0jv1q9tioiq7l</string>
	<key>API_KEY</key>
	<string>AIzaSyC166lMk1Td5V74usfjsQSawKeb5on40rY</string>
	<key>GCM_SENDER_ID</key>
	<string>408258771832</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.reddit</string>
	<key>PROJECT_ID</key>
	<string>reddit-clone-7d686</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-clone-7d686.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:408258771832:ios:b06d37dd6a7f2c2085a68d</string>
</dict>
</plist>